body {
    font-family: Arial, sans-serif;
    background-color: #533652;
    margin: 0;
    padding: 20px;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: #fffefe;
    font-size: 22px;
}

header {
    background-color: #755375;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
    background-color: #755375;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #f0c6d2;
    color: #533652;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.album-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr));
    gap: 10px;
    padding: 20px;
    max-width: 90%;
    max-height: 80%;
    overflow-y: auto;
}

.album-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.close-btn {
    margin-top: 10px;
    background-color: #fff;
    border: none;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.close-btn:hover {
    background-color: #eee;
}